name: Coverage
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install deps
        run: |
          pip install .
          pip install pytest pytest-cov codecov

      - name: Pytest + coverage
        env:
          PYTHONPATH: ${{ github.workspace }}
          SDL_VIDEODRIVER: dummy
          SDL_AUDIODRIVER: dummy
        run: pytest --cov=src --cov-report=xml

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
