name: Docker
on:
  push:
    branches-ignore:
      - main
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/1"
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/2"
  pull_request:
    branches-ignore:
      - main
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/1"
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/2"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -f docker/Dockerfile -t search-task .
