name: Docker
on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: |
          docker build \
          -f docker/Dockerfile \
          --label org.opencontainers.image.revision=${{ github.sha }} \
          --label org.opencontainers.image.source=https://github.com/${{ github.repository }} \
          --label org.opencontainers.image.created=${{ github.run_id }} \
          -t ghcr.io/${{ github.repository }} .
