name: Docker publish
on:
  push:
    branches:
      - main
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/1"
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/2"
  pull_request:
    branches:
      - main
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/1"
      - "[0-9][0-9][0-9][0-9]/[0-9][0-9]/2"
  workflow_dispatch:
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          labels: |
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.source=https://github.com/${{ github.repository }}
            org.opencontainers.image.created=${{ github.run_id }}
          tags: ${{ github.ref_name == 'main' && format('ghcr.io/{0}:latest', github.repository) || format('ghcr.io/{0}:latest,ghcr.io/{0}:{1}', github.repository, github.ref_name) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
